body {
    background-size: cover;
    background-image: url(./img/background3.png);
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
}

.tenor-gif-embed {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}